*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: o;
  transition: all 0.5s ease;
}
  
.body{
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  background-color: #aa00a4;
}

.a{
  text-decoration: none;
  color: rgb(200, 46, 149);
}

.main-container{
  height: 100vh ;
  width: 100vw;
  display:grid;
  place-items: center;
}

.calculator{
  position: relative;
  min-height: auto;
  min-width: auto;
  padding: 20px;
  border-radius:10px;
  box-shadow: 0 0 30px black;
}

.theme-switcher{
  position: absolute;
  top:30px;
  right: 30px;
  color: whitesmoke;
  cursor: pointer;
  z-index: 1 ;
}

.theme-switcher.active {
  color: black;
}

.theme-switcher.active::before {
  background-color: white ;
  content: "Calculate Me!!";
}

.theme-switcher ::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display{
  margin: 0  10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

  